{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Mentions légales
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5 justify-content-center">
		<h1 class="text-center text-info mb-5 display-1 fw-bold">Mentions légales</h1>
		<div class="row justify-content-center">
			<div class="col-4 text-center">
				<p class="fw-italic" style="font-size:65%;">Conformément à la loi n°2004-275 dite LEN (Loi sur l'Economie Numérique)<br>et aux recommandations de la CNIL (Commission Nationale Informatique et Libertés)</p>
				<div class="border-bottom mb-4"></div>
				<p>Ce site est protégé par le code de la propriété intellectuelle. Il vous est donc formellement interdit de reprendre tout ou partie de ces éléments (photo, textes ...) sans notre accord préalable écrit. Si vous constatez qu'une photo ou tout autre élément dont vous détenez les droits apparaît sur ce site, contacter nous par e-mail à l'adresse  web @galaxygames.com</p>
				<p>Conformément à l'article 34 de la Loi 78-17 du 6 janvier 1978 relative aux Fichiers Informatiques et aux Libertés, vous disposez d'un droit de visualisation, modification ou suppression des données vous concernant.Vous pouvez exercer ce droit en ligne ou nous adresser un e-mail à web @galaxygames.com</p>
				<p>Nous vous informons que notre site Internet nécessite l'utilisation d'un cookie qui n'a pour but que de vous identifier pendant votre visite sur le site (pendant une phase de commande par exemple). Ce cookie est conservé au maximum 30 jours sur votre ordinateur pour vous identifier lors de vos visites ultérieures. En aucun cas, son utilisation n'est prévue pour établir un profil de vos visites ou obtenir des informations à votre insu.</p>
				<p>Toutes les informations que vous pourriez être amené à nous communiquer ne sont utilisées qu'en interne et ne seront pas diffusées à des tiers.</p>
				<p>Ce site est déclaré auprès de la CNIL sous le numéro gYU3569905P</p>
			</div>
		</div>
	</div>
{% endblock %}
