{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Modification du profil
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-10 text-info">
				<h1 class="text-center text-info mt-4 pt-4 display-1 fw-bold">Modification du profil</h1>
				{{form(form)}}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}

