{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Qui somme- nous ?
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5 justify-content-center">
		<h1 class="text-center text-info mb-5 display-1 fw-bold">A PROPOS DE GALAXYGAMES</h1>
		<div class="row justify-content-center">
			<div class="col-4 text-center">
				<p>Fondée par un professionnel du jeu vidéo depuis 20 ans, la société GalaxyGames a pour objet l'Edition, la Réédition et la Distribution de Jeux Vidéo et de Jeux Casual sur PC et consoles.</p>
				<p>Située à Saint Denis, et forte d'une équipe de 9 professionnels, GalaxyGames sélectionne les meilleurs jeux et les meilleures licences ( GTA, Assasin's Creed, Battlefield, Far Cry, Rayman, Tomb Raider, Total War, Star Wars, Call of Duty, The Elder Scrolls, Crysis, Mass Effect, Borderlands, Need for Speed, Splinter Cell...)  des plus grands éditeurs français et internationaux du jeu vidéo. GalaxyGames réédite et distribue également de grandes licences de jeux Casual tel que Angry Birds, Mystery Case Files, Jewel Quest, Plantes contre Zombies, Bejeweled, Hidden Expedition, Azada, Seven Wonders, Samantha Swift, Luxor.</p>
				<p>De grands éditeurs tels que Ubisoft, EA, Activision, Bestheda, Square Enix, Sega, Big Fish, Microïds ... nous font déjà confiance.</p>
				<p>Notre ambition est de permettre aux plus grands nombres de personnes d'acquérir auprès de nos clients revendeurs, les plus grands succès du jeu vidéo à des prix très compétitifs (à partir de 4,99€). Nos jeux sont proposés par les Spécialistes et Multspécialistes du Jeu Vidéo (Fnac, Micromania, Cultura, Boulanger), les sites e-commerce (Amazon, CDiscount) et dans les rayons Jeux des Grandes Surfaces de la distribution en France (Auchan, Carrefour, Leclerc, Cora, Casino, Intermarché). Ils sont également distribués en Belgique, en Suisse et au Québec.</p>
				<p>Alors n'hésitez pas, GalaxyGames va vous faire jouer !</p>
			</div>
		</div>
	</div>
{% endblock %}
