{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Ajout Langue
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-10 text-info">
				<h1 class="text-center text-info mt-4 pt-4 display-1 fw-bold">Ajout d'une langue</h1>
				{{form(form)}}
				</div>
			</div>
		</div>
        <h3 class="text-info ms-5 mt-4 pt-4 fw-bold">Liste des langues</h3>
        <div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover table align-middle">
						<thead>
							<tr class="fw-bold text-info text-center">
								<th scope="col">Langues</th>
								<th scope="col">Supprimer la langue</th>
							</tr>
						</thead>
						<tbody>
							{% for l in langues %}
									<td class="text-center">{{l.libelle}}</td>
									<td class="text-center">
										<a href="{{path('supplangue',{'id':l.id})}}">
											<i class="bi bi-x-circle"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
	{% endblock %}
