{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Ajout d'article
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-10 text-info">
				<h1 class="text-center text-info mt-4 pt-4 display-1 fw-bold">Ajout d'article</h1>
				{{form(form)}}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
